<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин мороженного</title>
</head>
<body>
 <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'icecream_list' %}">Мороженное</a></li>
            <li><a href="{% url 'icecream_new' %}">Добавить новое мороженное</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
